body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cardHolder{  
  position: absolute;
  right: 0;left: 0;
  margin-left: 50px;
  margin-top: 50px;
  gap: 10px ;
  display: grid;
  grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
  grid-template-rows: 0.25fr ;
  grid-auto-rows: auto; 
  align-items: center;
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
