<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello!</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body>
    <h1>Card filters</h1>
    <form action="/query" id="form" class="form" method="POST">
        <p>card colour</p>
        <select name="colour" class="form-select">
            <option value="">Colour</option>
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="white">White</option>
            <option value="black">Black</option>
            <option value="green">Green</option>
          </select>
        <p>Card type</p>
        <input name = "filter", class ="input_box">
        <p>Set tag</p>
        <input name = "set", class ="input_box"> <br>
        <button type="submit" class="form-submit">Go</button>
      </form>
    <% if (locals.result){%>
        <% result.cards.forEach(card => { %>
            <p> <%= card.name %> </p>
            <img src=<%= card.imageUrl %>>
        <% }); %>
       
       
    <%}else{  %>
        <p>Please enter a filter value and pick a colour</p>
    <%} %>
    
</body>
</html>