<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello!</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body>
    <h1>Card filters</h1>
    <form action="/query" id="form" class="form" method="POST">
        <input name = "filter", class ="input_box">
        <select name="colour" class="form-select">
          <option value="">Colour</option>
          <option value="Red">Red</option>
          <option value="Blue">Blue</option>
          <option value="White">White</option>
          <option value="Black">Black</option>
          <option value="Green">Green</option>
        </select>
        <button type="submit" class="form-submit">Go</button>
      </form>
    <% if (locals.result){%>
        <% result.cards.forEach(card => { %>
            <p> <%= card.name %> </p>
        <% }); %>
       
       
    <%}else{  %>
        <p>Please enter a filter value and pick a colour</p>
    <%} %>
    
</body>
</html>